<table>
    <tr valign="top">
        <td><img src="{{ post.author.avatar(50) }}"></td>
        <td>
            <p><a href="{{ url_for('user', nickname=post.author.nickname)}}">{{ post.author.nickname }}</a> said {{ post.timestamp.strftime("%Y-%m-%d %H:%M:%S UTC") }}:</p>
            <!-- {{ momentjs(post.timestamp).fromNow() }} -->
            <p><strong>{{ post.body }}</strong></p>
            {% if post.author.id == g.user.id %}
                <div><a href="{{ url_for('delete', id=post.id) }}">{{ _('Delete') }}</a></div>
            {% endif %}
        </td>
    </tr>
</table>